<div class="row">
    <p class="titles">{{ page.title}}</p>
</div>


<div class="container">
    <div class="row" style="margin-top: 30px;">
        <div class="col-6 my-auto">
           <p class="outputs_subtitle">Publications</p>
        </div>
        <div class="col-6">
            <img src="../assets/img/together.png" alt="imgaes" class="outputs_img">
        </div>
    </div>
    <div id="publications-container">
        {% for entry in site.publications limit:10 %}
        <div class="row" style="margin-top: 15px;">
            <div class="col-3">
            </div>
            <div class="col-9">
                <p class="paper_title">{{ entry.title }}</p>
                <p class="paper_authors">{{ entry.author | join: ', ' }}</p>
                <a href="https://conf.researchr.org/home/aplas-2020" class="conference_link">
                    <p class="conference_name">{{ entry.booktitle }}</p>
                </a>
                <p class="paper_authors" style="display: inline;">{{ entry.year }}, </p>
                <a href="https://www.macs.hw.ac.uk/~ek19/aplas2020.pdf" style="text-decoration: none;">
                    <p class="paper_authors" style="display: inline; color: rgb(141, 11, 11); font-weight: 700;">Read more</p>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="row" style="margin-top: 40px;">
        <div class="col-12 text-center">
            <button id="load-more" class="video-button roboto_font_all" onclick="loadMorePublications()" style="width: 150px;">Load More</button>
        </div>
    </div>
</div>


<div class="container">
    <div class="row post-item" style="margin-top: 30px;">
        <div class="col-6 my-auto">
           <p class="outputs_subtitle">Talks</p>
        </div>
        <div class="col-6">
            <img src="../assets/img/publications.png" alt="imgaes" class="outputs_img">
        </div>
    </div>
    <div class="row post-item" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Safety for E2E Conversational AI: Opportunities and Challenges</p>
            <p class="paper_authors">Verena Rieser</p>
            <a href="https://theeuropeanchatbot.com/" class="conference_link">
                <p class="conference_name">The European Chatbot & Conversational AI Summit</p>
            </a>
            <p class="paper_authors">February 4th & 5th, 2021</p>
        </div>
        
    </div> 
    <div class="row post-item" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Neural network verification as program synthesis</p>
            <p class="paper_authors">Ekaterina Komendantskaya, Matthew Daggitt</p>
            <a href="https://www.katz-lab.com/" class="conference_link">
                <p class="conference_name">The European Chatbot & Conversational AI Summit</p>
            </a>
            <p class="paper_authors">18th of March, 2021</p>
        </div>
    </div>
    <div class="row post-item" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Analyse, search, reason, interpret, verify: the “Maslow Pyramid” of AI modelling</p>
            <p class="paper_authors">Ekaterina Komendantskaya, Alasdair HIll</p>
            <a href="https://www.katz-lab.com/" class="conference_link">
                <p class="conference_name">Invited talk at TAS Governance Node</p>
            </a>
            <p class="paper_authors">23rd of June, 2021</p>
        </div>
    </div>
    <div class="row post-item" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">From voice assistants to ChatGPT: Ethical and legal challenges of conversing with AI</p>
            <p class="paper_authors">Burkhard Schafer</p>
            <a href="https://www.impact-projekt.de/#conference" class="conference_link">
                <p class="conference_name">IMPACT Symposium Berlin</p>
            </a>
            <p class="paper_authors">2023</p>
        </div>
    </div>
    <div class="row post-item" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Continuous Verification of Machine Learning: a Declarative Programming Approach</p>
            <p class="paper_authors">Dr Ekaterina Komendantskaya</p>
            <a href="" class="conference_link">
                <p class="conference_name">Chalmers Machine Learning for Functional Programmers interest group (24 November 2020) and TU Kaiserslautern (11 March 2021).</p>
            </a>
            <p class="paper_authors">11th, March 2021</p>
        </div>
    </div>
    <div class="row post-item" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Refine and Synthesise: a type-theoretic view on neural network robustness</p>
            <p class="paper_authors">Dr Ekaterina Komendantskaya</p>
            <a href="https://types22.inria.fr/" class="conference_link">
                <p class="conference_name">TYPES'22, the 28th International Conference on Types for Proofs and Programs</p>
            </a>
            <p class="paper_authors">2022</p>
        </div>
    </div>
    <div class="row post-item" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Continuous Verification of AI: a Declarative Programming Approach </p>
            <p class="paper_authors">Dr Ekaterina Komendantskaya</p>
            <a href="https://www.cse.chalmers.se/~abela/ppdp20/" class="conference_link">
                <p class="conference_name">PPDP'20, invited talk at the 22nd International Symposium on Principles and Practice of Declarative Programming</p>
            </a>
            <p class="paper_authors">9th, Sep 2020</p>
        </div>
    </div>
    <div class="row post-item" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Interfacing NN verifiers with ITPs </p>
            <p class="paper_authors">Matthew Daggitt</p>
            <a href="" class="conference_link">
                <p class="conference_name">Initial Types Club. Chalmers University of Technology.</p>
            </a>
            <p class="paper_authors">2020</p>
        </div>
    </div>
    <div class="row post-item" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">AI Verification, in Need of Programming Language Support</p>
            <p class="paper_authors">Dr Ekaterina Komendantskaya</p>
            <a href="" class="conference_link">
                <p class="conference_name">invited talk at the SICSA annual conference</p>
            </a>
            <p class="paper_authors">1th, Oct 2020</p>
        </div>
    </div>
    <div class="row post-item" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Refinement types for Verification of Neural Networks</p>
            <p class="paper_authors">Dr Ekaterina Komendantskaya</p>
            <a href="" class="conference_link">
                <p class="conference_name">invited talk at the Workshop on Program Semantics, Specification and Verification (PSSV)</p>
            </a>
            <p class="paper_authors">4th, Nov 2020</p>
        </div>
    </div>
    <div class="row post-item" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Invited keynote speaker</p>
            <p class="paper_authors">Verena Rieser</p>
            <a href="http://2021.ieeeslt.org/invited_speakers.html" class="conference_link">
                <p class="conference_name">4th Annual West Coast NLP Summit (WeCNLP-2021) SIGSEM Conference on Reasoning in Interaction (ReInAct-2021); ACL-2021 Workshop Document-grounded Dialogue (Doc2Dial'21); ICLR-2021 Workshop on Neural Conversational AI (NeuCAIR-2021); SigDial-2021 Young Researcher's Round Table on Spoken Dialogue Systems (YRRSDS-2021); 8th IEEE Spoken Language Technology Workshop (SLT'21); 7th International Conference on Machine Learning, Optimization & Data Science (LOD-2021); 1st European Chatbot Summit (ChatBot-2021)</p>
            </a>
            <p class="paper_authors">2021</p>
        </div>
    </div>
    <div class="row post-item" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">High Risks at the High Court: Legal and ethical guidelines for AI in the justice system</p>
            <p class="paper_authors">Burkhard Schafer</p>
            <a href="http://hseminar.webhostusp.sti.usp.br/2021/?lang=e n" class="conference_link">
                <p class="conference_name">The Center for Artificial Intelligence (C4AI) of the University of São Paulo's conference on  Artificial Intelligence: Democracy and social impact, sponsored by IBM and FAPESP.</p>
            </a>
            <p class="paper_authors">2021</p>
        </div>
    </div>
    <div class="row post-item" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Building trustworthy and secure legal AI the Building trustworthy and secure legal AI</p>
            <p class="paper_authors">Burkhard Schafer</p>
            <a href="" class="conference_link">
                <p class="conference_name">the  2nd UCP International Conference on Law Tech and Legal Education in Pakistan, Lahore</p>
            </a>
            <p class="paper_authors">2024</p>
        </div>
    </div>
    <div class="row post-item" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Evidence Law and AI</p>
            <p class="paper_authors">Burkhard Schafer</p>
            <a href="http://alf.ius.bg.ac.rs/belgrade-legal-philosophy- week-2023-full-program/" class="conference_link">
                <p class="conference_name">conference “Philosophy of Law Week”, Belgrade</p>
            </a>
            <p class="paper_authors">May 2023</p>
        </div>
    </div>
    <div class="row post-item" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">XAI and XL: AI regulation as a design challenge: from the EU AI Act to the UK AI white paper</p>
            <p class="paper_authors">Burkhard Schafer</p>
            <a href="" class="conference_link">
                <p class="conference_name">SICSA All Hands August 2023 - Future of AI</p>
            </a>
            <p class="paper_authors">2023</p>
        </div>
    </div>
    <div class="row post-item" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Invited to deliver a keynote speech </p>
            <p class="paper_authors">Burkhard Schafer</p>
            <a href="" class="conference_link">
                <p class="conference_name">3rd int'l  conference on Digital Rule of Law and Smart Justice, Huazhong University of Science and Technology, Wuhan</p>
            </a>
            <p class="paper_authors">2023</p>
        </div>
    </div>
    <div class="row post-item" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Invited to deliver a keynote speech </p>
            <p class="paper_authors">Dr Ekaterina Komendantskaya</p>
            <a href="" class="conference_link">
                <p class="conference_name">NeSyMAS Panel. NeSyMAS 2023: Neuro-symbolic AI for Agent and Multi-Agent systems workshop, at AAMAS, London</p>
            </a>
            <p class="paper_authors">2023</p>
        </div>
    </div>
    <div class="row post-item" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Bridging International Robotics and AI Grand Challenges: working with the Japanese MOONSHOT  Initiative</p>
            <p class="paper_authors">Dr Ekaterina Komendantskaya</p>
            <a href="" class="conference_link">
                <p class="conference_name">the the Japanese MOONSHOT initiative</p>
            </a>
            <p class="paper_authors">5th, June 2023</p>
        </div>
    </div>
    <div class="row post-item" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Integrated Neural Network Verification with Vehicle</p>
            <p class="paper_authors">Dr Ekaterina Komendantskaya</p>
            <a href="" class="conference_link">
                <p class="conference_name">Trustworthy Autonomous Systems Verifiability Node (TAS)</p>
            </a>
            <p class="paper_authors">18th, May 2023</p>
        </div>
    </div>
    <div class="row post-item" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Whats and Whys of Neural Network Verification (A Declarative Programming Perspective)</p>
            <p class="paper_authors">Dr Ekaterina Komendantskaya</p>
            <a href="" class="conference_link">
                <p class="conference_name">The 26th International Symposium on Practical Aspects of Declarative Languages</p>
            </a>
            <p class="paper_authors">16th, Jan 2024</p>
        </div>
    </div>
    <div class="row post-item" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Whats and Whys of Neural Network Verification (A Declarative Programming Perspective)</p>
            <p class="paper_authors">Verena Rieser</p>
            <a href="" class="conference_link">
                <p class="conference_name">AI.BAY-Bavarian International Conference on AI; 2022 IEEE Spoken Language Technology Workshop; Forum for Information Retrieval Evaluation -- South Asian counterpart to TREC; Special Session on Summarization of Dialogues and Multi-Party Meetings/ 2nd SummDial workshop (2022) AAAI-2022 workshop on the 10th Dialog Systems Technology challenge; SKEMA 2022 Business School Workshop on 'AI for Business: Opportunities and Challenges'; 23rd EANN/18th AIAI 2022 Conference</p>
            </a>
            <p class="paper_authors">16th, Jan 2024</p>
        </div>
    </div>
    <div class="row post-item" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Whats and Whys of Neural Network Verification (A Declarative Programming Perspective)</p>
            <p class="paper_authors">Verena Rieser</p>
            <a href="" class="conference_link">
                <p class="conference_name">AI.BAY-Bavarian International Conference on AI; 2022 IEEE Spoken Language Technology Workshop; Forum for Information Retrieval Evaluation -- South Asian counterpart to TREC; Special Session on Summarization of Dialogues and Multi-Party Meetings/ 2nd SummDial workshop (2022) AAAI-2022 workshop on the 10th Dialog Systems Technology challenge; SKEMA 2022 Business School Workshop on 'AI for Business: Opportunities and Challenges'; 23rd EANN/18th AIAI 2022 Conference</p>
            </a>
            <p class="paper_authors">16th, Jan 2024</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <button id="load-more-talks" class="video-button roboto_font_all" style="width: 150px; margin-top: 30px;">Load More</button>
        </div>
    </div>
</div>


<div class="container">
    <div class="row" style="margin-top: 30px;">
        <div class="col-6 my-auto">
           <p class="outputs_subtitle">Organisation</p>
        </div>
        <div class="col-6">
            <img src="../assets/img/software.png" alt="imgaes" class="outputs_img">
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Workshop - Safety for Conversational AI</p>
            <p class="paper_authors">Verena Rieser (program chair)</p>
            <a href="https://safetyforconvai.splashthat.com/" class="conference_link">
                <p class="conference_name">Safety for Conversational AI</p>
            </a>
            <p class="paper_authors">October 17th, 2020</p>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Special session - Safety for E2E Conversational AI</p>
            <p class="paper_authors">Verena Rieser (organising committee)</p>
            <a href="https://sites.google.com/view/safety4convai/home" class="conference_link">
                <p class="conference_name">Special Interest Group on Discourse and Dialogue 2021</p>
            </a>
            <p class="paper_authors">July 29th - 31st, 2021</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row" style="margin-top: 30px;">
        <div class="col-6 my-auto">
           <p class="outputs_subtitle">Outreach</p>
        </div>
        <div class="col-6">
            <img src="../assets/img/2020-05-122.png" alt="imgaes" class="outputs_img">
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">How to make a chatbot that isn’t racist or sexist</p>
            <p class="paper_authors">Verena Rieser et al.</p>
            <a href="https://www.technologyreview.com/2020/10/23/1011116/chatbot-gpt3-openai-facebook-google-safety-fix-racist-sexist-language-ai/" class="conference_link">
                <p class="conference_name">MIT Technology Review</p>
            </a>
            <p class="paper_authors">23rd of October, 2020</p>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Perfecting self-driving cars – can it be done?</p>
            <p class="paper_authors">Ekaterina Komendantskaya, Matthew Daggitt, Luca Arnaboldi</p>
            <a href="https://theconversation.com/perfecting-self-driving-cars-can-it-be-done-157483" class="conference_link">
                <p class="conference_name">The Conversation</p>
            </a>
            <p class="paper_authors">7th of April, 2021</p>
        </div>
    </div>
</div>


<script>
    let currentIndex = 10;
    function loadMorePublications() {
        const papers = {{ site.publications | jsonify }};
        const container = document.getElementById('publications-container');
        for (let i = currentIndex; i < currentIndex + 10 && i < papers.length; i++) {
            const entry = papers[i];
            const row = document.createElement('div');
            row.classList.add('row');
            row.style.marginTop = '15px';
            row.innerHTML = `
                <div class="col-3"></div>
                <div class="col-9">
                    <p class="paper_title">${entry.title}</p>
                    <p class="paper_authors">${entry.author}</p>
                    ${entry.type === 'article' ? `<a href="${entry.url}" class="conference_link"><p class="conference_name">${entry.journal}</p></a>` : ''}
                    ${entry.type === 'inproceedings' ? `<a href="${entry.url}" class="conference_link"><p class="conference_name">${entry.booktitle}</p></a>` : ''}
                    <p class="paper_authors" style="display: inline;">${entry.year}, </p>
                    <a href="${entry.url}" style="text-decoration: none;">
                        <p class="paper_authors" style="display: inline; color: rgb(141, 11, 11); font-weight: 700;">Read more</p>
                    </a>
                </div>
            `;
            container.appendChild(row);
        }
        currentIndex += 10;
        if (currentIndex >= papers.length) {
            document.getElementById('load-more').style.display = 'none';
        }
    }
</script>










