<div class="row">
    <p class="titles">{{ page.title}}</p>
</div>


<div class="container">
    <div class="row" style="margin-top: 30px;">
        <div class="col-6 my-auto">
           <p class="outputs_subtitle">Publications</p>
        </div>
        <div class="col-6">
            <img src="../assets/img/together.png" alt="imgaes" class="outputs_img">
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title"></p>
            <p class="paper_authors">Wen Kokke, Ekaterina Komendantskaya, Daniel Kienitz, Bob Atkey, David Aspinall. </p>
            <a href="https://conf.researchr.org/home/aplas-2020" class="conference_link">
                <p class="conference_name">The 18th Asian Symposium on Programming Languages and Systems</p>
            </a>
            <p class="paper_authors" style="display: inline;">2020, </p>
            <a href="https://www.macs.hw.ac.uk/~ek19/aplas2020.pdf" style="text-decoration: none;">
                <p class="paper_authors" style="display: inline; color: rgb(141, 11, 11); font-weight: 700;">Read more</p>
            </a>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title"></p>
            <p class="paper_authors">Marco Casadio, Matthew L. Daggitt, Ekaterina Komendantskaya, Wen Kokke, Daniel Kienitz, Rob Stewart</p>
            <a href="http://arxiv.org/abs/2104.01396" class="conference_link">
                <p class="conference_name">Under submission</p>
            </a>
            <p class="paper_authors" style="display: inline;">2021, </p>
            <a href="http://arxiv.org/abs/2104.01396" style="text-decoration: none;">
                <p class="paper_authors" style="display: inline; color: rgb(141, 11, 11); font-weight: 700;">Read more</p>
            </a>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Actions You Can Handle: Dependent Types for AI Plans</p>
            <p class="paper_authors">Alasdair Hill, Ekaterina Komendantskaya, Matthew L. Daggitt, Ronald P. A. Petrick</p>
            <p class="conference_name" style="color: #ffb923;">Workshop on Type-driven Development'21, at ICFP'21</p>
            <p class="paper_authors" style="display: inline;">2021, </p>
            <a href="https://arxiv.org/abs/2105.11267" style="text-decoration: none;">
                <p class="paper_authors" style="display: inline; color: rgb(141, 11, 11); font-weight: 700;">Read more</p>
            </a>
        </div>
    </div>
</div>


<div class="container">
    <div class="row" style="margin-top: 30px;">
        <div class="col-6 my-auto">
           <p class="outputs_subtitle">Talks</p>
        </div>
        <div class="col-6">
            <img src="../assets/img/publications.png" alt="imgaes" class="outputs_img">
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Safety for E2E Conversational AI: Opportunities and Challenges</p>
            <p class="paper_authors">Verena Rieser</p>
            <a href="https://theeuropeanchatbot.com/" class="conference_link">
                <p class="conference_name">The European Chatbot & Conversational AI Summit</p>
            </a>
            <p class="paper_authors">February 4th & 5th, 2021</p>
        </div>
        
    </div> 
    <div class="row" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Neural network verification as program synthesis</p>
            <p class="paper_authors">Ekaterina Komendantskaya, Matthew Daggitt</p>
            <a href="https://www.katz-lab.com/" class="conference_link">
                <p class="conference_name">The European Chatbot & Conversational AI Summit</p>
            </a>
            <p class="paper_authors">18th of March, 2021</p>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Analyse, search, reason, interpret, verify: the “Maslow Pyramid” of AI modelling</p>
            <p class="paper_authors">Ekaterina Komendantskaya, Alasdair HIll</p>
            <a href="https://www.katz-lab.com/" class="conference_link">
                <p class="conference_name">Invited talk at TAS Governance Node</p>
            </a>
            <p class="paper_authors">23rd of June, 2021</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row" style="margin-top: 30px;">
        <div class="col-6 my-auto">
           <p class="outputs_subtitle">Organisation</p>
        </div>
        <div class="col-6">
            <img src="../assets/img/software.png" alt="imgaes" class="outputs_img">
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Workshop - Safety for Conversational AI</p>
            <p class="paper_authors">Verena Rieser (program chair)</p>
            <a href="https://safetyforconvai.splashthat.com/" class="conference_link">
                <p class="conference_name">Safety for Conversational AI</p>
            </a>
            <p class="paper_authors">October 17th, 2020</p>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Special session - Safety for E2E Conversational AI</p>
            <p class="paper_authors">Verena Rieser (organising committee)</p>
            <a href="https://sites.google.com/view/safety4convai/home" class="conference_link">
                <p class="conference_name">Special Interest Group on Discourse and Dialogue 2021</p>
            </a>
            <p class="paper_authors">July 29th - 31st, 2021</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row" style="margin-top: 30px;">
        <div class="col-6 my-auto">
           <p class="outputs_subtitle">Outreach</p>
        </div>
        <div class="col-6">
            <img src="../assets/img/2020-05-122.png" alt="imgaes" class="outputs_img">
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">How to make a chatbot that isn’t racist or sexist</p>
            <p class="paper_authors">Verena Rieser et al.</p>
            <a href="https://www.technologyreview.com/2020/10/23/1011116/chatbot-gpt3-openai-facebook-google-safety-fix-racist-sexist-language-ai/" class="conference_link">
                <p class="conference_name">MIT Technology Review</p>
            </a>
            <p class="paper_authors">23rd of October, 2020</p>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <p class="paper_title">Perfecting self-driving cars – can it be done?</p>
            <p class="paper_authors">Ekaterina Komendantskaya, Matthew Daggitt, Luca Arnaboldi</p>
            <a href="https://theconversation.com/perfecting-self-driving-cars-can-it-be-done-157483" class="conference_link">
                <p class="conference_name">The Conversation</p>
            </a>
            <p class="paper_authors">7th of April, 2021</p>
        </div>
    </div>
</div>













