<div class="row">
    <p class="titles">{{ page.page_title}}</p>
</div>

<div class="row">
    <p class="subtitles-team">{{ page.subtitle_1}}</p>
    <div class="row" style="margin-top: 40px;">
        <div class="col-4 custom-padding">
            <div class="outer-circle mx-auto">
                <div class="inner-circle">
                    <img src="{{ page.avatar_1 }}" alt="Icon">
                </div>
            </div>
            <p class="section_subtitle" style="margin-top: 30px; font-size: 25px;">{{page.name_1}}</p>
            <p class="icon_content" style="font-size: 16px;">{{page.uni_1}}</p>
            <p class="icon_content">{{page.descr_1}}</p>
        </div>
        <div class="col-4 custom-padding">
            <div class="outer-circle mx-auto">
                <div class="inner-circle">
                    <img src="{{ page.avatar_2 }}" alt="Icon">
                </div>
            </div>
            <p class="section_subtitle" style="margin-top: 30px; font-size: 25px;">{{page.name_2}}</p>
            <p class="icon_content" style="font-size: 16px;">{{page.uni_2}}</p>
            <p class="icon_content">{{page.descr_2}}</p>
        </div>
        <div class="col-4 custom-padding">
            <div class="outer-circle mx-auto">
                <div class="inner-circle">
                    <img src="{{ page.avatar_3 }}" alt="Icon">
                </div>
            </div>
            <p class="section_subtitle" style="margin-top: 30px; font-size: 25px;">{{page.name_3}}</p>
            <p class="icon_content" style="font-size: 16px;">{{page.uni_3}}</p>
            <p class="icon_content">{{page.descr_3}}</p>
        </div>
    </div>
    <div class="row" style="margin-top: 40px;">
        <div class="col-4 custom-padding">
            <div class="outer-circle mx-auto">
                <div class="inner-circle">
                    <img src="{{ page.avatar_4 }}" alt="Icon">
                </div>
            </div>
            <p class="section_subtitle" style="margin-top: 30px; font-size: 25px;">{{page.name_4}}</p>
            <p class="icon_content" style="font-size: 16px;">{{page.uni_4}}</p>
            <p class="icon_content">{{page.descr_4}}</p>
        </div>
        <div class="col-4 custom-padding">
            <div class="outer-circle mx-auto">
                <div class="inner-circle">
                    <img src="{{ page.avatar_5 }}" alt="Icon">
                </div>
            </div>
            <p class="section_subtitle" style="margin-top: 30px; font-size: 25px;">{{page.name_5}}</p>
            <p class="icon_content" style="font-size: 16px;">{{page.uni_5}}</p>
            <p class="icon_content">{{page.descr_5}}</p>
        </div>
    </div>
</div>

<div class="row">
    <p class="subtitles-team">{{ page.subtitle_2}}</p>
    <div class="row" style="margin-top: 40px;">
        <div class="col-4 custom-padding">
            <div class="outer-circle mx-auto">
                <div class="inner-circle">
                    <img src="{{ page.avatar_6 }}" alt="Icon">
                </div>
            </div>
            <p class="section_subtitle" style="margin-top: 30px; font-size: 25px;">{{page.name_6}}</p>
            <p class="icon_content" style="font-size: 16px;">{{page.uni_6}}</p>
            <p class="icon_content">{{page.descr_6}}</p>
        </div>
        <div class="col-4 custom-padding">
            <div class="outer-circle mx-auto">
                <div class="inner-circle">
                    <img src="{{ page.avatar_7 }}" alt="Icon">
                </div>
            </div>
            <p class="section_subtitle" style="margin-top: 30px; font-size: 25px;">{{page.name_7}}</p>
            <p class="icon_content" style="font-size: 16px;">{{page.uni_7}}</p>
            <p class="icon_content">{{page.descr_7}}</p>
        </div>
        <div class="col-4 custom-padding">
            <div class="outer-circle mx-auto">
                <div class="inner-circle">
                    <img src="{{ page.avatar_8 }}" alt="Icon">
                </div>
            </div>
            <p class="section_subtitle" style="margin-top: 30px; font-size: 25px;">{{page.name_8}}</p>
            <p class="icon_content" style="font-size: 16px;">{{page.uni_8}}</p>
            <p class="icon_content">{{page.descr_8}}</p>
        </div>
    </div>
    <div class="row" style="margin-top: 40px;">
        <div class="col-4 custom-padding">
            <div class="outer-circle mx-auto">
                <div class="inner-circle">
                    <img src="{{ page.avatar_9 }}" alt="Icon">
                </div>
            </div>
            <p class="section_subtitle" style="margin-top: 30px; font-size: 25px;">{{page.name_9}}</p>
            <p class="icon_content" style="font-size: 16px;">{{page.uni_9}}</p>
            <p class="icon_content">{{page.descr_9}}</p>
        </div>
        <div class="col-4 custom-padding">
            <div class="outer-circle mx-auto">
                <div class="inner-circle">
                    <img src="{{ page.avatar_10 }}" alt="Icon">
                </div>
            </div>
            <p class="section_subtitle" style="margin-top: 30px; font-size: 25px;">{{page.name_10}}</p>
            <p class="icon_content" style="font-size: 16px;">{{page.uni_10}}</p>
            <p class="icon_content">{{page.descr_10}}</p>
        </div>
    </div>
</div>

<div class="row">
    <p class="subtitles-team">{{ page.subtitle_3}}</p>
    <div class="row" style="margin-top: 40px;">
        <div class="col-4 custom-padding">
            <div class="outer-circle mx-auto">
                <div class="inner-circle">
                    <img src="{{ page.avatar_11 }}" alt="Icon">
                </div>
            </div>
            <p class="section_subtitle" style="margin-top: 30px; font-size: 25px;">{{page.name_11}}</p>
            <p class="icon_content" style="font-size: 16px;">{{page.uni_11}}</p>
            <p class="icon_content">{{page.descr_11}}</p>
        </div>
        <div class="col-4 custom-padding">
            <div class="outer-circle mx-auto">
                <div class="inner-circle">
                    <img src="{{ page.avatar_12 }}" alt="Icon">
                </div>
            </div>
            <p class="section_subtitle" style="margin-top: 30px; font-size: 25px;">{{page.name_12}}</p>
            <p class="icon_content" style="font-size: 16px;">{{page.uni_12}}</p>
            <p class="icon_content">{{page.descr_12}}</p>
        </div>
        <div class="col-4 custom-padding">
            <div class="outer-circle mx-auto">
                <div class="inner-circle">
                    <img src="{{ page.avatar_13 }}" alt="Icon">
                </div>
            </div>
            <p class="section_subtitle" style="margin-top: 30px; font-size: 25px;">{{page.name_13}}</p>
            <p class="icon_content" style="font-size: 16px;">{{page.uni_13}}</p>
            <p class="icon_content">{{page.descr_13}}</p>
        </div>
    </div>
</div>





