---
layout: default
---

<main class="container">
    <div class="news-post" style="margin-top: 60px;">
        <h1 class="engagement-title" style="margin-bottom: 60px;">{{ page.influence_name }}</h1>

        <p class="engagement-subtitle" style="display: inline;">Influence Type: </p>
        <p class="engagement-content" style="display: inline;">{{ page.influence_type }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Healthcare Area: </p>
        <p class="engagement-content" style="display: inline;">{{ page.healthcare_area }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Title: </p>
        <p class="engagement-content" style="display: inline;">{{ page.title }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Issuing Organisation: </p>
        <p class="engagement-content" style="display: inline;">{{ page.issuing_organisation }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Publication citing your work: </p>
        <p class="engagement-content" style="display: inline;">{{ page.publication_citing }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Contribution description: </p>
        <p class="engagement-content" style="display: inline;">{{ page.contribution_description }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Cited Publication: </p>
        <p class="engagement-content" style="display: inline;">{{ page.cited_publication }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Year First Realised: </p>
        <p class="engagement-content" style="display: inline;">{{ page.year }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Geographic Influence: </p>
        <p class="engagement-content" style="display: inline;">{{ page.geographic_influence }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Country: </p>
        <p class="engagement-content" style="display: inline;">{{ page.country }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Area of policy influence: </p>
        <p class="engagement-content" style="display: inline;">{{ page.policy_influence }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Describe Other: </p>
        <p class="engagement-content" style="display: inline;">{{ page.describe_other }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Specific Impacts: </p>
        <p class="engagement-content" style="display: inline;">{{ page.specific_impacts }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Impact Description: </p>
        <p class="engagement-content" style="display: inline;">{{ page.impact }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">URL: </p>
        <p class="engagement-content" style="display: inline;">{{ page.link }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Digital ID: </p>
        <p class="engagement-content" style="display: inline;">{{ page.digital_id }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Source: </p>
        <p class="engagement-content" style="display: inline;">{{ page.source }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Publication ID: </p>
        <p class="engagement-content" style="display: inline;">{{ page.publication_id }} </p>

    </div>
</main>