---
layout: default
---

<main class="container">
    <div class="news-post" style="margin-top: 60px;">
        <h1 class="engagement-title" style="margin-bottom: 60px;">{{ page.activity_title }}</h1>

        <p class="engagement-subtitle" style="display: inline;">Activity Type: </p>
        <p class="engagement-content" style="display: inline;">{{ page.activity_type }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">How many people: </p>
        <p class="engagement-content" style="display: inline;">{{ page.num_people }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Geographical Reach: </p>
        <p class="engagement-content" style="display: inline;">{{ page.geo_reach }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Primary Audience: </p>
        <p class="engagement-content" style="display: inline;">{{ page.primary_audience }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Other Audience: </p>
        <p class="engagement-content" style="display: inline;">{{ page.other_audience }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Activity Years: </p>
        <p class="engagement-content" style="display: inline;">{{ page.year }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Result Description: </p>
        <p class="engagement-content" style="display: inline;">{{ page.result}} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Most important impact: </p>
        <p class="engagement-content" style="display: inline;">{{ page.impact }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">URL: </p>
        <p class="engagement-content" style="display: inline;">{{ page.link }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Digital ID: </p>
        <p class="engagement-content" style="display: inline;">{{ page.digital_id }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Source: </p>
        <p class="engagement-content" style="display: inline;">{{ page.source }} </p>
        <br>
        <p class="engagement-subtitle" style="display: inline;">Publication ID: </p>
        <p class="engagement-content" style="display: inline;">{{ page.publication_id }} </p>

    </div>
</main>